@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  position: relative;
  color: #eee;
  height: 100vh;
  background: #222;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
